*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow: auto;
}
img{
    
}
.header{
    position: fixed;
    width: 100%;

}
.left{
    float: left;
    padding-left: 20rem;
    margin-top: 25px;
}
.right{
    float: right;
    padding-right: 30rem;
    margin-top: 25px;
    
}
.right a{
    padding-right: 10px;
    font-size: 17px;
    color: rgb(255, 255, 255);
}
.left a{
    color: rgb(255, 255, 255);
    font-size: 25px;
}
.first{
    color: rgb(255, 255, 255);
   background-size: cover;
   background-position: center;
   padding: 15rem 0;
   background-image: url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/post-bg.jpg)
}
.first h1{
    width: 40%;
    font-size: 60px;
    margin: auto;
    font-weight: 900;
}
.first h2{
    width: 40%;
    font-size: 30px;
    margin: auto;
    margin-bottom: 20px;
}
.first p{
    width: 40%;
    margin: auto;
    font-size: 15px;
    font-weight: 100;
}
.first a{
    color: white;
}
.second{
    
    width: 45%;
    margin: 70px auto 30px;
}
.second p{
font-size: 25px;
margin-bottom: 30px;
}
.second h2{
font-size: 36px;
}
#ltl{
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    color: rgb(160, 160, 160);
}
#unl{
    text-decoration: underline;
    color: black;
    font-size: 20px;
}
.last{
    padding: 20px;
    text-align: center;
}
hr{
    color:rgb(160, 160, 160) ;
}